* {
	font-family: 'Roboto', sans-serif;
	background-color: #A2BAB6;
	color: #233B45;
}

h1,h2,h3,h4,h5 {
	color: #233136;
}

.container {
	display: flex;
}

.item {
	flex-grow: 1;
}

.navigation {
	margin: 0px;
	margin-bottom: 15px;
	padding: 15px;
}

.navigation, .navigation > a {
	background-color: #303030;
	height: 35px;
	color: #A2BAB6;
}

a, a:active, a:visited {
	text-decoration-style: -moz-none;
	color: #A2BAB6;
}

.get-weather-btn {
	background-color: #233136;
	color: #233B45;
	padding: 10px;
}

button {
	border-style: none;
	background-color: #A2BAB6;
	font-size: 20px;
}
/* 
.navbar i, .weather i {
	font-size: 20px;
}

.navbar button, .weather button {
	background-color: #A2BAB6;
} */